body {
  background-color: #302c5b;
  color: #fff;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-right: 20px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #1d1b34;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* --slider-- */
section {
  margin-top: 7rem;
  margin-bottom: 6rem;
}

.swiper {
  width: 800px;
  height: 475px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

/* --section-- */

.col-sm-8 span {
  padding-left: 10px;
}

/* --footer-- */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #302c5b;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "bold", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #fff;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

section {
  margin-top: 6rem;
  color: #fff;
  display: flex;
}

section .single h2 {
  margin: 0;
  font-family: Cuprum;
  font-size: 18px;
  padding: 5px;
  border: #dfdfdf 1px solid;
  background: #83848e;
  margin-bottom: 10px;
}

section .recomen {
  flex-direction: column;
  margin-left: 15px;
}

section .recomen h2 {
  text-align: center;
  margin-top: 5px;
}

.center {
  float: left;
  width: 800px;
  margin: auto;
}

.content {
  padding: 10px;
  background: #051527;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.content .single h2 {
  text-align: left;
}

.content p {
  text-align: justify;
}

.content .flex .text .text-right {
  margin-left: 10px;
}

/* --img-- */
.flex {
  display: flex;
}

.recommend ul li a {
  color: #fff;
  text-decoration: none;
}

/* video */
.video {
  margin-top: 6rem;
}

/* ---comment-- */
.comment {
  margin-top: 7rem;
}

.comment h1 {
  float: left;
  font-size: 30px;
}

.btn {
  float: left;
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  .center {
    width: 100%;
  }

  .recomen {
    margin: 15px 0;
    display: none;
  }
}
